<app-nav-bar></app-nav-bar>

<div class="container">

  <app-bread-crumb [items]="[{text: 'Usuários'}]">
  </app-bread-crumb>

  <app-page-header page-title="Usuários" button-text=" Cadastrar" button-link="new" button-class="btn-success"
    icon-class="bi bi-person-plus"></app-page-header>

  <table class="table table-houver custom-table">
    <thead>
      <tr class="bg-primary text-light">
        <th>Usuários</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of page.content">
        <td>
          <strong>{{user.firstName}} {{user.lastName}}</strong>
        </td>
        <td>
          <a [routerLink]="[user.id]" class="btn btn-outline-info btn-sm mr-4">Visualizar</a>
          <a [routerLink]="[user.id, 'edit']" class="btn btn-outline-warning btn-sm mr-4">Alterar</a>
          <a (click)="delete(user)" class="btn btn-outline-danger btn-sm">Deletar</a>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="page.first">
        <button class="page-link" (click)="previousPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li class="page-item" *ngFor="let _ of getTotalPages(); let i = index" [class.active]="pageNumber === i">
        <button class="page-link" (click)="changePage(i)">{{ i + 1 }}</button>
      </li>
      <li class="page-item" [class.disabled]="page.last">
        <button class="page-link" (click)="nextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
      <select class="form-select" (change)="changePageSize($event)">
        <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
      </select>
    </ul>   
  </nav>

</div>